body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding-top: 100px;
  background-color: #f9f9f9;
  color: #333;
}


main, section, header, footer {
  max-width: 900px;
  margin: 0 auto; 
  padding: 1rem 2rem;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  z-index: 1000;
}

.navbar nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

h1, h2, h3 {
  text-align: center;
}
